.tabs {
    border: 1px solid #666;
    padding: 10px;
    margin: 50px;
}

.active {
    font-weight: bold;
}

ul {
    padding-left: 0;
}

li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #666;
    padding: 5px 10px;
}