 body {
     background-color: #888;
     font-family: 'Righteous', cursive;
 }
 
 .game {
     width: 400px;
     height: 400px;
     border: 3px blanchedalmond solid;
     box-shadow: 2px 2px black;
     margin: 20px auto;
     bottom: 5px;
     text-align: center;
     background-image: url(../img/backgroundGameWindow.jpg);
     color: white;
     border-radius: 20px;
 }
 
 #section {
     margin: 10px;
     font-family: 'Righteous', cursive;
     border: 1px solid yellowgreen;
     border-radius: 5px;
 }
 
 #startGame {
     margin: 20px;
 }
 
 button {
     font-family: 'Righteous', cursive;
     background: #888;
     border-radius: 5px;
 }
 
 button:hover {
     border: 2px solid green;
 }
 
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.8);
 }
 
 .modal-content {
     background-color: #f3f3f3;
     margin: 40% auto;
     padding: 20px;
     border: 1px solid #888;
     border-radius: 20px;
     width: 80%;
     text-align: center;
 }
 
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }